@charset "UTF-8";
* {
  font-family: Arial, Helvetica, sans-serif;
  /*height:100%;*/
}

body {
  background-image: linear-gradient(
    to right,
    #d5cfbf,
    #e8e4e1,
    #fbf3f0,
    #c4aea3,
    #f2e6da
  );
}

main {
  background-color: #fbf3f0;
  border-radius: 10px;
  box-shadow: 5px 5px 50px #c4aea3;
  width: 600px; /*largura*/
  padding: 10px; /*alcolchoamento*/
  margin: auto; /*Margem*/
}
h1 {
  color: #3a05e7;
  text-align: center;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.27-6);
}
h2 {
  text-align: center;
  color: #656565;
}


button {
  color: white;
  background: rgb(81, 81, 81);
  transition: background 1.5s;
}

button:hover,
button:focus {
  background: rgb(23, 5, 157);
  transform: translateX(10px) scale(1);
}

@keyframes go-back {
  0% {
    transform: translateX(-100px);
  }
  100% {
    transform: translateX(100);
  }
}

.quadrado {
  width: 50px;
  height: 50px;
  animation: go-back 1.5s infinite alternate;
  margin-left: 250px;
}

@keyframes go-back {
  from {
    transform: translateX(100px);
  }
  to {
    transform: translateX(0);
  }
}
